.searchBar {
  padding-bottom: 0px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.details {
  font-size: 10px;
  padding-left: -10px;
}
.currentTemperature {
  color: white;
  font-size: 40px;
  display: block;
  text-align: right;
  margin-left: 150px;
  line-height: 1;
}
.weather-temperature .unit {
  position: relative;
  font-size: 14px;
  text-align: right;
  padding-left: 3px;
}
.weather-temperature .active {
  color: white;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weatherApp {
  border: 1px solid white;
  padding: 20px;
  border-radius: 6px;
  margin: 15px;
  max-width: 600px;
  background-image: url("/nightsky.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.col-md-12 {
  padding-bottom: 18px;
  font-size: 20px;
}
.col-md-12 ::first-letter {
  text-transform: capitalize;
}
.weather-forecast-day {
  font-size: 22px;
  opacity: 0.7;
}
.weather-forecast-max {
  font-size: 15px;
  font-weight: bold;
}
.weather-forecast-min {
  font-size: 15px;
  opacity: 0.7;
}
.weather-forecast {
  line-height: 40px;
}

body {
  font-family: "DM Sans", sans-serif;
  color: white;
}
li {
  font-size: 20px;
  list-style: none;
  text-align: left;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1;
}
ul {
  margin: 0;
  padding: 0;
}
h2 {
  text-transform: capitalize;
  padding-left: 5px;
}
h3 {
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
}
h4 {
  font-size: 10px;
  padding: 20px;
  color: white;
  margin: 15px;
  max-width: 600px;
}
p {
  border-bottom: 0px;
  padding-top: 8px;
}
